.app-header {
  max-width: 1680px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 16px;
  border-bottom: 1px solid black;
  background-color: black;

  &__controls {
    display: flex;
    gap: 16px;
  }
}