

html {
  font-size: 14px;
}

body {
  padding-top: 100px; /* Header height */
  padding-bottom: 100px;
  min-height: 100dvh;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
