@import './tailwind.scss';
@import './base.scss';
@import './components/_style.scss';
@import './views/_style.scss';

#app {
  max-width: 1680px;
  margin: 0 auto;
  font-weight: normal;
  height: 100%;
  width: 100%;
}

a, .link-button {
  cursor: pointer;
  text-decoration: none;
  color: white;

  &:hover {
    color: lightgray;
  }
}

.highlight {
  color: #ff6b6b;
}
